.btn1 {
    background-color: rgb(20, 60, 5);
    margin-top: 90px;
    height: 70px;
    width: 800px;
    padding-top: 15px;
    font-size: 40px;
}

.btn1:hover {
    opacity: 0.6;
}

.button {
    transition-duration: 0.4s;
}

h3 {
    color: aliceblue;
}